DATABASE_URL=postgresql://postgres:FiqAFNqyjQqNHPQpcodpnCXlfKsQPRWk@crossover.proxy.rlwy.net:30268/railway
SECRET_KEY=mXtzGeqW_LLGSHL_6jSL25v1ldfkkZy5B3dZRb11mfE
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=30
